name: Android CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Archive APK
        run: mv app/build/outputs/apk/debug/app-debug.apk app/build/outputs/apk/app-debug-$GITHUB_SHA.apk

      - name: Upload APK artifact
        uses: actions/upload-artifact@v2
        with:
          name: app-debug-$GITHUB_SHA
          path: app/build/outputs/apk/app-debug-$GITHUB_SHA.apk
